                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                .location {
                    margin-top: 15em;
                    color: white;
                    margin-left: 1em;
                }
                
                .photoDetails {
                    font-weight: bold;
                    color: white;
                    font-size: 1.3em;
                    margin-left: 0.7em;
                    word-break: wrap;
                    line-height: 20px;
                    margin-top: .5em;
                    text-transform: uppercase;
                }
                /* the slides */
                
                .sliderbigContainer {
                    margin-left: 37rem;
                    width: 100%;
                }
                
                .photoContainer {
                    margin-left: 30rem;
                }
                
                .active {
                    opacity: 1;
                }
                
                .sideHeading {
                    margin-left: 3rem;
                    margin-top: 13rem;
                    width: 25rem;
                    color: white;
                    z-index: -8;
                }
                
                .locationHome {
                    margin-left: 0.5em;
                    font-size: 1.5rem;
                    animation: 2s anim-lineUp ease-out;
                }
                
                .photoDetailsHome {
                    margin-left: 0em;
                    font-size: 5rem;
                    font-weight: bold;
                    line-height: 0.8;
                    animation: 2s anim-lineUp ease-out;
                }
                
                .otherDetailsHome {
                    margin-top: 1rem;
                    animation: 2s anim-lineUp ease-out;
                }
                /* KEYFRAMES ANIMATION SECTION  */
                
                @keyframes anim-lineUp {
                    0% {
                        opacity: 0;
                        transform: translateY(80%);
                    }
                    20% {
                        opacity: 0;
                    }
                    50% {
                        opacity: 1;
                        transform: translateY(0%);
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(0%);
                    }
                }
                
                @keyframes divDisappearance {
                    0% {
                        opacity: 0;
                        transform: scale(1);
                    }
                    100% {
                        opacity: 1;
                        transform: scale(1.4);
                    }
                }
                
                @keyframes move-to-background {
                    0% {
                        transform: scale(1);
                    }
                    100% {
                        transform: scale(1.4);
                        width: 100%;
                        height: 100%;
                    }
                }
                
                @media screen and (max-width: 480px) {
                    body {
                        height: 100vh;
                        width: 100vw;
                        background-repeat: no-repeat;
                    }
                    .sideHeading {
                        width: 15rem;
                        position: absolute;
                        top: -7.5rem;
                        z-index: -10;
                    }
                    .locationHome {
                        font-size: 13px;
                        margin-left: 0.1rem;
                    }
                    .photoDetailsHome {
                        font-size: 1.3rem;
                    }
                    .otherDetailsHome {
                        margin-top: 0.2rem;
                        line-height: 1.3;
                        font-weight: bold;
                    }
                    .location {
                        margin-top: 13em;
                    }
                    .sliderbigContainer {
                        z-index: 0;
                    }
                    .photoContainer {
                        z-index: 0;
                    }
                }